
        .box { max-width: 400px; padding: 5px; }
        .big { font-size: 26px; }
        .dull { background-color: LightGray; }
        .bright { color: Blue; background-color: Pink; }
        .border { border: 1px solid Red; }